*{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
}
nav{
	width: 100%;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid gainsboro;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.nav_zhong{
	width: 1100px;
	height: 60px;
	margin: auto;
	display: flex;
}
.logo{
	width: 150px;
	margin-top: 12px;
}
.nav_dh{
	width: 950px;
	height: 60px;
	display: flex;
}
.nav_dh>ul{
	width: 600px;
	height: 60px;
	line-height: 60px;
}
.nav_dh>ul>li{
	width: 80px;
	float: left;
}
.nav_dh>ul>li>a:hover{
	color: #fe584d;
}
.sousuo{
	width: 250px;
	text-align: right;
	line-height: 60px;
	cursor: pointer;
}
.zhuce{
	width: 100px;
	text-align: right;
	line-height: 50px;
}
.zhuce>span{
	font-size: 12px;
	padding: 1px;
	border: 1px solid #fe584d;
	color: #fe584d;
	margin: 0;
}
.nav_dh2{
	width: 950px;
	height: 60px;
	/*display: flex;*/
	position: absolute;
	right: 218px;
	background-color: white;
	display: none;
}
.nav_dhli{
	width: 958px;
	height: 60px;
	display: flex;
	background-color: white;
}
.sousuo2{
	width: 100px;
	text-align: right;
	line-height: 68px;
}
#sou{
	margin: 15px 20px 0 15px;
	width: 300px;
	height: 30px;
	outline: none;
	border: none;
}
.cha{
	color: gray;
	width: 30px;
	font-size: 20px;
	line-height: 60px;
	cursor: pointer;
}
section{
	width: 100%;
	margin-top: 60px;
}
.section_zhong{
	width: 1100px;
	margin: auto;
}
.section_zhong_shang{
	width: 1100px;
	text-align: center;
	font-size: 24px;
	padding: 30px 0;
}
.section_zhong_xia{
	width: 1100px;
}
.fen{
	width: 400px;
	margin: auto;
	display: flex;
}
.fen>a{
	padding: 10px 0;
	flex-grow: 1;
	color: #8C8C8C;
	text-align: center;
	cursor: pointer;
}
.fen>.add{
	color: #fe584d;
	border-bottom: 2px solid #fe584d;
}
.section_xia{
	width: 100%;
	background-color: #F2F2F2;
}
.section_xia_zhong{
	padding: 20px 0;
	width: 1100px;
	margin: auto;
}
.zhe{
	width: 240px;
	height: 142px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	background-color: white;
	opacity: 0;
}
@keyframes tupian{
	0%{opacity: 0.3;}
	50%{opacity: 0.7;}
	100%{opacity: 0.3;}
}

.section2{
	width: 100%;
	background-color: #F2F2F2;
}
.section2_zhong{
	
	width: 1100px;
	margin: auto;
}
.section2_zhong_xia{
	width: 1100px;
	height: 240px;
}
.section2_zhong_xia>li{
	cursor: pointer;
	border-radius: 5px;
	width: 242px;
	height: 240px;
	float: left;
	color: #5C5C5C;
	background-color: white;
	border: 1px solid gainsboro;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.section2_zhong_xia>li:nth-child(n+2){
	margin-left: 43px;
}
.section2_zhong_xia>li>p:last-child{
	font-size: 12px;
	padding: 8px;
	color: gray;
	display: flex;
	justify-content: space-between;
}
.jia{
	display: none;
}
.jiazai>span{
	cursor: pointer;
}
.jiazai{
	width: 1100px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: #fe584d;
}
.section2_zhong li:hover{
	box-shadow:0px 7px 25px #808080;
	position: relative;
	top: -2px;
}
.section2_zhong_xia>li>p:nth-child(3){
	padding: 3px 8px;font-size: 14px;
}
.section2_zhong_xia>li>p:nth-child(4){
	padding: 3px 8px;font-size: 12px;color: rgb(150,150,150);
}
.section2_zhong_xia>li>p:nth-child(5)>span:nth-child(1){
	color: #fe584d;
}
footer{
	width: 100%;
	background-color: #505050;
}
.footer_zhong{
	width: 1100px;
	margin: auto;
	color: #B4B4B4;
	font-size: 14px;
}
.footer_zhong_shang{
	width: 1100px;
	padding: 40px 0;
	display: flex;
}
.footer_zhong_xia{
	width: 1100px;
	padding: 10px 0;
	text-align: center;
}
.kuai2{
	margin-left: 30px;
}
.kuai2 p{
	margin: 4px 0;
}
.kuai2>p:first-child>a{
	font-size: 17px;
	color: white;
}
.zhidongxi{
	display: flex;
}
.kuai2 li{
	margin-top: 4px;
}
.you{
	position: fixed;
	right: 6%;
	bottom: 10%;
	width: 38px;
	display: none;
}
.t{
	cursor: pointer;
	background-color: #FFFFFF;
	width: 38px;
	height: 35px;
	text-align: center;
	border: 1px solid gainsboro;
	line-height: 43px;
	position: relative;
}
.t:hover{
	background-color: gainsboro;
}
.tli{
	line-height: 16px;
	position: absolute;
	top: 0;
	left: -190px;
	font-size: 14px;
	background-color: #FFFFFF;
	display: none;
}

.mao1{
	border-radius: 4px;
	width: 1100px;
	border: 1px solid gainsboro;
	background-color: #FFFFFF;
}
.mao1>p{
	margin: 10px 0;
	padding-left: 20px;
	font-size: 14px;
	border-left: 3px solid #fe584d;
}
.maoli{
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px dashed gainsboro;
}
.maoli>div{
	width: 170px;
	margin: 10px 0;
	text-align: center;
	color: #A0A0A0;
	font-size: 13px;
}
.maoli>div>p:hover{
	cursor: pointer;
	color: black;
}
.maoxia>div>p:hover{
	cursor: pointer;
	color: black;
}
.maoxia{
	padding: 10px 0;
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
}
.maoxia>div{
	width: 170px;
	margin: 5px 0;
	text-align: center;
	color: #A0A0A0;
	font-size: 13px;
}