*{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
}
nav{
	width: 100%;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid gainsboro;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.nav_zhong{
	width: 1100px;
	height: 60px;
	margin: auto;
	display: flex;
}
.logo{
	width: 150px;
	margin-top: 12px;
}
.nav_dh{
	width: 950px;
	height: 60px;
	display: flex;
}
.nav_dh>ul{
	width: 600px;
	height: 60px;
	line-height: 60px;
}
.nav_dh>ul>li{
	width: 80px;
	float: left;
}
.nav_dh>ul>li>a:hover{
	color: #fe584d;
}
.sousuo{
	width: 250px;
	text-align: right;
	line-height: 60px;
	cursor: pointer;
}
.zhuce{
	width: 100px;
	text-align: right;
	line-height: 50px;
}
.zhuce>span{
	font-size: 12px;
	padding: 1px;
	border: 1px solid #fe584d;
	color: #fe584d;
	margin: 0;
}
.nav_dh2{
	width: 950px;
	height: 60px;
	/*display: flex;*/
	position: absolute;
	right: 218px;
	background-color: white;
	display: none;
}
.nav_dhli{
	width: 958px;
	height: 60px;
	display: flex;
	background-color: white;
}
.sousuo2{
	width: 100px;
	text-align: right;
	line-height: 68px;
}
#sou{
	margin: 15px 20px 0 15px;
	width: 300px;
	height: 30px;
	outline: none;
	border: none;
}
.cha{
	color: gray;
	width: 30px;
	font-size: 20px;
	line-height: 60px;
	cursor: pointer;
}
header{
	margin-top: 60px;
	width: 100%;
	height: 300px;
	background: url(../img/original.jpg) no-repeat;
	background-size: 100% 100%;
}
.header_zhong{
	width: 1100px;
	height: 300px;
	margin: auto;
	position: relative;
}
.header_zhong_right{
	line-height: 34px;
	text-align: right;
	color: white;
	position: absolute;
	top: -40%;
	right: -40%;
	display: none;
}
.header_zhong_right>span{
	background-color: red;
	padding: 2px 25px;
	font-size: 20px;
	cursor: pointer;
}
.header_zhong_right>p>span{
	background-color: rgba(255,255,255,0.4);
	padding: 3px 5px;
}
.liucheng{
	width: 100%;
	background-color: #F0F0F0;
	padding: 10px 0;
}
.liuzhong{
	width: 1100px;
	height: 70px;
	border-left: 5px solid #FF5240;
	margin: auto;
	box-sizing: border-box;
}
.liuzhong>ul>li{
	cursor: pointer;
	box-sizing: border-box;
	font-size: 13px;
	color: #8C8C8C;
	margin-right: 120px;
	text-align: center;
	width: 60px;
	height: 70px;
	float: left;
}
section{
	width: 100%;
}
.section_shang{
	width: 1100px;
	margin: auto;
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}
.section_shang_left{
	letter-spacing: 1px;
	padding: 25px 0;
	width: 760px;
	float: left;
}
.section_shang_left>h5{
	color: #3573CA;
	padding: 20px 0;
}
.section_shang_left>p{
	font-size: 13px;
}
.section_shang_right{
	padding: 10px 0;
	letter-spacing: 1px;
	float: right;
	width: 270px;
}
.xiaohui{
	color: #969696;
	font-size: 12px;
}
.gou{
	padding: 5px 0;
	border-radius: 3px;
	background-color: #FF5240;
	color: white;
	text-align: center;
}
.section_xia{
	width: 1100px;
	margin: auto;
}
.section1_zhong_shang{
	width: 1100px;
	height: 50px;
	line-height: 50px;
}
.section1_zhong_xia_zhong>ul{
	width: 1100px;
	height: 290px;
}
.section1_zhong_xia_zhong>ul>a:nth-child(n+2){
	margin-left: 44px;
}
.section1_zhong_xia_zhong>ul>a{
	cursor: pointer;
	border-radius: 5px;
	width: 242px;
	height: 280px;
	float: left;
	border: 1px solid gainsboro;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	overflow: hidden;
}
.zhe{
	width: 240px;
	height: 142px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	background-color: white;
	opacity: 0;
}
@keyframes tupian{
	0%{opacity: 0.3;}
	50%{opacity: 0.7;}
	100%{opacity: 0.3;}
}


footer{
	width: 100%;
	background-color: #505050;
}
.footer_zhong{
	width: 1100px;
	margin: auto;
	color: #B4B4B4;
	font-size: 14px;
}
.footer_zhong_shang{
	width: 1100px;
	padding: 40px 0;
	display: flex;
}
.footer_zhong_xia{
	width: 1100px;
	padding: 10px 0;
	text-align: center;
}
.kuai2{
	margin-left: 30px;
}
.kuai2 p{
	margin: 4px 0;
}
.kuai2>p:first-child>a{
	font-size: 17px;
	color: white;
}
.zhidongxi{
	display: flex;
}
.kuai2 li{
	margin-top: 4px;
}
.you{
	position: fixed;
	right: 6%;
	bottom: 10%;
	width: 38px;
	display: none;
}
.t{
	cursor: pointer;
	background-color: #FFFFFF;
	width: 38px;
	height: 35px;
	text-align: center;
	border: 1px solid gainsboro;
	line-height: 43px;
	position: relative;
}
.t:hover{
	background-color: gainsboro;
}
.tli{
	line-height: 16px;
	position: absolute;
	top: 0;
	left: -190px;
	font-size: 14px;
	background-color: #FFFFFF;
	display: none;
}
